body{
    background-color: #f04930;
}

.col {
    border: 10px solid white;
    background-color: white;
}


.droppable-disabled{
    background-color: cadetblue;
}

#board, .tiles{
    background-color:black;
    margin: auto;
    border:5px solid black;
}

.board-tile, .tile{
    width: 100%;
}